page-jump {}

.card-content-ios {
  padding: 0;
}

.ion-app.ios [padding],
ion-app.ios [padding] .scroll-content {
  padding: 0;
}
// .card .col .card-ios{
//     padding: 0;
//     margin: 0;
// }
.ratings {
  font-size: 35px;
  color:red;
  position: absolute;
  right: 10%;
  top:5%;
  color: transparent;
  -webkit-text-stroke: 3px red;
}
.card-md2{
  margin:10px 0px !important;
  width: calc(100% - 0px) !important;
  
}
.col2{
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
  
}
.grid2{
  padding: 0px !important;

}
.card-ios2{
  -webkit-box-shadow: 0 0px 0px ;
  box-shadow: 0 0px 0px ;
}
.shop-cart-img{
  max-width: none!important;
}

$checkbox-ios-icon-border-radius:50%;